<header></header>

<br><br>

<div>
    <br><br><br>
    <ul class="breadcrumb">
        <li>Home</li>
	    <li>User Account</li>
    </ul>
</div>

<font face="rockwell" size="5px" color="#154360" style="margin-bottom:0px;padding:10px;">Your Ads :</font>

<br>

<table border="1" cellpadding="10">
       
    <tr>
        <th>Ad Title</th>
        <th>Posted By</th>
        <th>Ad Description</th>
        <th>Category</th>
        <th>Options</th>
    </tr>

    <tr *ngFor="let obj of loggedUserAds">

        <td>{{obj.title}}</td>
        <td>{{obj.name}}</td>
        <td>{{obj.description}}</td>
        <td>{{obj.category}}</td>
        <td>
            <input type="button" value="Delete Ad" (click)="deleteAd(obj)">
        </td>
    </tr>
</table>

<br><br><br>

<hr>

<div align="center">
	<button type="button" class="btn btn-primary" (click)="onPostNewAd()"><b>Post New Ad</b></button>
	
	<a href=""><button type="button" class="btn btn-info"><b>See Messages</b></button></a>
	
	<button type="button" class="btn btn-success" (click)="onLogout()"><b>Logout</b></button>
</div>