<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Create New Account</h4>
        </div>
				
        <div class="modal-body">
            <form [formGroup]="SignUpForm"  novalidate>
                <div class="form-group">
					<label>First Name</label>
					<input #firstname type="text" formControlName="firstName" class="form-control" placeholder="Name" autofocus>
                    <div *ngIf="SignUpForm.controls['firstName'].errors && SignUpForm.controls['firstName'].dirty">
						<div *ngIf="SignUpForm.controls['firstName'].hasError('required')" class="alert alert-danger"> Please enter username </div>
						<div *ngIf="SignUpForm.controls['firstName'].hasError('minlength')" class="alert alert-danger"> Minimum 5 characters required!! </div> 
                    </div>
				</div>


                <div class="form-group">
					<label>Last Name</label>
					<input #lastname type="text" formControlName="lastName" class="form-control" placeholder="Name" autofocus>
                    <div *ngIf="SignUpForm.controls['lastName'].errors && SignUpForm.controls['lastName'].dirty">
						<div *ngIf="SignUpForm.controls['lastName'].hasError('required')" class="alert alert-danger"> Please enter username </div>
						<div *ngIf="SignUpForm.controls['lastName'].hasError('minlength')" class="alert alert-danger"> Minimum 5 characters required!! </div> 
                    </div>
				</div>


				<div class="form-group">
					<label>Username</label>
					<input #username type="text" formControlName="userName" class="form-control" placeholder="Name" autofocus>
                    <div *ngIf="SignUpForm.controls['userName'].errors && SignUpForm.controls['userName'].dirty">
						<div *ngIf="SignUpForm.controls['userName'].hasError('required')" class="alert alert-danger"> Please enter username </div>
						<div *ngIf="SignUpForm.controls['userName'].hasError('minlength')" class="alert alert-danger"> Minimum 5 characters required!! </div> 
                    </div>
				</div>

                <div class="form-group">
					<label>Password</label>
					<input type="password" formControlName="password" class="form-control" placeholder="Password">
					<div *ngIf="SignUpForm.controls['password'].errors && SignUpForm.controls['password'].dirty">
                        <div *ngIf="SignUpForm.controls['password'].hasError('required')" class="alert alert-danger"> Please enter password </div>
					</div>
				</div>

				<div class="form-group">
					<label>Re-enter password</label>
					<input #password type="password" formControlName="confirmPassword" class="form-control" placeholder="Password">
					<div *ngIf="SignUpForm.controls['confirmPassword'].errors && SignUpForm.controls['confirmPassword'].dirty">
                        <div *ngIf="SignUpForm.controls['confirmPassword'].hasError('matchPassword')" class="alert alert-danger"> Re-entered password doesn't match </div>
					</div>
				</div>


                <div class="form-group">
					<label>Email</label>
					<input #email type="email" formControlName="email" class="form-control" placeholder="abc@example.com">
					<div *ngIf="SignUpForm.controls['email'].errors && SignUpForm.controls['email'].dirty">
                        <div *ngIf="SignUpForm.controls['email'].hasError('required')" class="alert alert-danger"> Please enter email id </div>
					</div>
				</div>	
					
				<div class="form-group">
					<label>Contact Number</label>
					<input #phone type="tel" formControlName="phone" class="form-control" placeholder="Contact Number">
					<div *ngIf="SignUpForm.controls['phone'].errors && SignUpForm.controls['phone'].dirty">
						<div *ngIf="SignUpForm.controls['phone'].hasError('minlength')" class="alert alert-danger"> Minimum 10 numbers required</div>
						<div *ngIf="SignUpForm.controls['phone'].hasError('maxlength')" class="alert alert-danger"> Maximum 10 numbers required </div>
                    </div>
				</div>
										
				<button type="submit" data-dismiss="modal" (click)="onSignUpSubmit(firstname.value,lastname.value,username.value,password.value,email.value,phone.value)" [disabled]="!SignUpForm.valid" class="btn btn-primary">Sign Up</button>
			</form>
		</div>
	</div>
</div>