<div style="margin-right:5cm;">
    <nav class="navbar navbar-default navbar-fixed-top" style="background-color:#212F3D">
          <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            
        </div>
        
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
			<li><a href="#"><img src="https://png.icons8.com/shopping-bag/color/1600/" height="50px" width="60px" style="margin-top:0px;">
			<font color="white" size="5px">e-Shop</font></a>
			</li>
			
			    <li><a href="#">Home</a></li>
           				
				<li class="dropdown"><a data-toggle="dropdown" class="dropdown-toggle" href="#">Electronics<b class="caret"></b></a>
					<ul class="dropdown-menu">
					<div class="dropdown-content">
                        <li><a href="#">Computer</a></li>
                        <li><a href="#">Laptop</a></li>
                        <li><a href="#">Washing machine</a></li>
                        <li><a href="#">Refrigerator</a></li>
						<li><a href="#">Mobile</a></li>
						<li><a href="#">Other</a></li>
					</div>
                    </ul>
				</li>
				
				<li class="dropdown">
				<a data-toggle="dropdown" class="dropdown-toggle" href="#">Home and Living<b class="caret"></b></a>
					<ul class="dropdown-menu">
					<div class="dropdown-content">
						<li><a href="vehicle.html" target="_blank">Vehicle</a></li>
						<li><a href="#">Furniture</a></li>
                        <li><a href="#">Clothes</a></li>
                        <li><a href="#">Real Estate</a></li>
                        <li><a href="#">Other</a></li>
                      </div>
					  </ul>
				</li>
			</ul>
			
			<form class="navbar-form navbar-left">
			<input type="text" class="form-control" style="margin-left:80px;" placeholder="Category name">
			</form>
			
			<form class="navbar-form navbar-left">
			     <div class="input-group">
				    <input type="text" class="form-control" placeholder="Search">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-search" style="height:20px"></span></button>
                    </span>
					
                </div>
            </form>
								  			  
            <div class="dropdown">
				<img src="https://www.minveedu.com/images/icon_signup_dude.png" height="30px" width="30px">
				<div class="dropdown-content">
				<form align="center">
					<font face="rockwell" color="#979A9A" size="3px" style="padding-right:20px;">Access account to manage orders</font><br><br>
					<a href="#signUpModel" data-toggle="modal"><label style="color:white;margin-bottom:10px;">Sign Up</label></a>
					<a href="#loginModel" data-toggle="modal"><label style="color:white;margin-bottom:10px;">Login</label></a>
				</form>
				</div>	
			</div>
        </div>
    </nav>
</div>

<div id="signUpModel" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Create New Account</h4>
                </div>
				
                <div class="modal-body">
                    <form>
						<div class="form-group">
							<label>Username</label>
							<input type="text" class="form-control" placeholder="Name" required autofocus>
						</div>
						
						<div class="form-group">
							<label>Address</label>
							<input type="text" class="form-control" placeholder="Address" required>
						</div>
					
						<div class="form-group">
							<label>Contact Number</label>
							<input type="text" class="form-control" placeholder="Contact Number" required>
						</div>
					
						<div class="form-group">
							<label>Email</label>
							<input type="email" class="form-control" placeholder="Email" required>
						</div>
						
						<div class="form-group">
							<label>Password</label>
							<input type="password" class="form-control" placeholder="Password" required>
						</div>

						<div class="form-group">
							<label>Re-enter password</label>
							<input type="password" class="form-control" placeholder="Password" required>
						</div>


						
					<button type="submit" class="btn btn-primary" formaction="">Sign Up</button>
					</form>
		       </div>
			</div>
        </div>
    </div>


    <div id="loginModel" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Login</h4>
                </div>
				
                <div class="modal-body">
                    <form>
						<div class="form-group">
							<label>Enter username</label>
							<input type="text" class="form-control" placeholder="Name" required autofocus>
						</div>
									
						<div class="form-group">
							<label>Password</label>
							<input type="password" class="form-control" placeholder="Password" required>
						</div>
						
						<div class="checkbox">
							<label><input type="checkbox"> Remember me</label>
						</div>
						
						<button type="submit" class="btn btn-primary" formaction="LoggedIn.html">Login</button>
						&nbsp&nbsp&nbsp&nbsp
						<button type="submit" class="btn btn-primary">Forgot password</button>
			</form>
		   </div>
		</div>
    </div>
</div>