<header></header>
<div>
    <ul class="breadcrumb">
        <li>Home</li>
    </ul>
</div>

<br>

<font class="blink" face="rockwell" size="5px" color="#154360" style="margin-bottom:0px;background-color:yellow;padding:10px;">Newly Posted</font>

<br><br>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="my_container"><a href=""><img src="http://exoticworld.co.in/media/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/l/u/lumica-sofa-full-set.png" alt="Sofa set" class="image" height="210px" width="270px"></a>
				<div class="middle">
					<div class="text">
						<b>Title: </b>Sofa Set<br>
						<b>Price: </b>Rs. 10,000<br>
						<b>Category: </b>Home and Living/Furniture<br>
						<b>Status: </b>Open<br>
						<b>Click on the image to see details</b>
					</div>
				</div>
			</div>
	    </div>

        <div class="col-md-4">
            <div class="my_container"><a href=""><img src="http://ssl-product-images.www8-hp.com/digmedialib/prodimg/lowres/c05051438.png" alt="Computer (whole set)" class="image" height="220px" width="230px"></a>
				<div class="middle">
					<div class="text">
						<b>Title: </b>HP Computer<br>
						<b>Price: </b>Rs. 50,000<br>
						<b>Category: </b>Electronics/Computer<br>
						<b>Status: </b>Open<br>
						<b>Click on the image to see details</b>
					</div>
				</div>
			</div>
		</div>

        <div class="col-md-4">
            <div class="my_container"><a href=""><img src="http://www.htc.com/managed-assets/shared/desktop/smartphones/htc-one-m9-supreme-camera-edition/explorer/htc-hima-ultra-global-silver-phone-listing.png" alt="HTC mobile" class="image" height="250px" width="210px"></a>
				<div class="middle">
					<div class="text">
						<b>Title: </b>HTC Desire<br>
						<b>Price: </b>Rs. 27,000<br>
						<b>Category: </b>Electronics/Mobile<br>
						<b>Status: </b>Open<br>
						<b>Click on the image to see details</b>
					</div>
				</div>
			</div>
		</div>
    </div>
	
<hr>

<div class="row">
    <div class="col-md-4">
        <div class="my_container"><a href=""><img src="washingmachine.png" alt="Washing Machine" class="image" height="220px" width="250px"></a>
			<div class="middle">
				<div class="text">
					<b>Title: </b>LG Washing Machine<br>
					<b>Price: </b>Rs. 10,000<br>
					<b>Category: </b>Electronics/Washing Machine<br>
					<b>Status: </b>Open<br>
					<b>Click on the image to see details</b>
				</div>
			</div>
		</div>
	</div>

    <div class="col-md-4">
        <div class="my_container"><a href=""><img src="http://www.davidsonlondon.com/media/catalog/product/cache/1/image/1828x1448/9df78eab33525d08d6e5fb8d27136e95/a/d/ad638_-_the_chrysler_dressing_table_in_walnut_silver_leaf.png" alt="Dressing Table" class="image" height="220px" width="230px"></a>
			<div class="middle">
				<div class="text">
					<b>Title: </b>Godrej Dressing Table<br>
					<b>Price: </b>Rs. 30,000<br>
					<b>Category: </b>Home and Living/Furniture<br>
					<b>Status: </b>Open<br>
					<b>Click on the image to see details</b>
				</div>
			</div>
		</div>
	</div>

    <div class="col-md-4">
        <div class="my_container"><a href="vehicle.html" target="_blank"><img src="car.png" alt="Celerio Car" class="image" height="250px" width="310px"></a>
			<div class="middle">
				<div class="text">
					<b>Title: </b>Maruti Suzuki Celerio AMT<br>
					<b>Price: </b>Rs. 6,22,000<br>
					<b>Category: </b>Home and Living/Vehicle<br>
					<b>Status: </b>Open<br>
					<b>Click on the image to see details</b>
				</div>
			</div>
		</div>
	</div>
 </div>
 
</div>